header
{
  background-color:sandybrown;
  color: white;
  height: 100%;
  width: 280px;

ul{
  li{
    display: block;
    margin: 30px;
    padding: 20px;
    a{
      list-style: block;

    }
  }
}

}
